table
{
    height: 300px;
}

input
{
    width: 100%;
    height: 40px;
    border: 2px solid green;
    font-size: 18px;
}

textarea
{
    width: 100%;
    height: 160px;
    border: 2px solid green;
    font-size: 18px;
}

select
{
    width: 100%;
    height: 80%;
    border: 2px solid green;
    font-size: 18px;
}

input[type=button]:hover
{
    background-color: black;
    color: white;
}


#menu ul ul
{
    position: absolute;
    width: 100%;
    flex-wrap: wrap;
    visibility: hidden;
    transition: 0.5s;
    top: -600%;
}
#menu ul li:hover > ul
{
    visibility: visible;
    top: 100%;
}


.menu-header
{
    display: none;
}




@media (max-width: 767px)
{
    ul
    {
        display: table;
        width: 100%;
    }
    ul li
    {
        text-align: left;
    }
    .dropdown, .dropdown2
    {
        position: relative;
        left: 0;
        top: 0;
        transition: none;
        visibility: visible;
        display: none;
        z-index: 1;
    }
    
    .display
    {
        display: block;
    }
    .dropdown li:hover .dropdown2
    {
    left: 0;
    }
    .menu-content
    {
        display: none;
    }
    .menu-header
    {
        display: block;
        background-color: black;
        text-align: right;
        padding: 10px;
    }
    .fa-bars
    {
        color: white;
        border: 2px solid white;
        padding: 5px 10px;
        border-radius: 5px;
    }

    .contact
{
    display: table;
    border: 0px solid blue;
    align-items: center;
}

    
}